################################################################
#
# Dynamic Configuration for Traefik v2
# https://doc.traefik.io/traefik/reference/dynamic-configuration/file/
#
################################################################

[http]
  [http.routers.{{ service.name }}]
    entryPoints = ["web"]
    rule = "Host(`{{ service.host }}`)"
    service = "{{ service.name }}"
    [http.services.{{ service.name }}.loadBalancer]
{% for target in service.targets %}
      [[http.services.{{ service.name }}.loadBalancer.servers]]
        url = "{{ target }}"
{% endfor %}

  [http.routers.InternalApi]
    rule = "Host(`{{ dashboard.host }}`)"
    service = "api@internal"
    middlewares = ["InternalAuth"]

  [http.middlewares.InternalAuth.basicAuth]
    users = {{ dashboard.authorized_users }}
